<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if(typeof user !== "undefined") { %>
    <li><a href="/pages">Pages</a></li>
    <li><a href="/settings">Settings</a></li>
    <% } else { %>
    <li><a href="/login">Log in</a></li>
    <li><a href="/signup">Sign up</a></li>
    <% }  %>
  </ul>
</nav>