<p>Your fediverse handle: <strong><em><%= myHandle %></em></strong></p>
<nav>
  <div class="flex">
    <ul class="flex-1">
      <li><a href="/followings">followings</a></li>
      <li><a href="/followers">followers</a></li>
    </ul>
    <a href="/follow">+ follow</a>
  </div>
</nav>