<nav>
  Your fediverse handle: <strong><em><%= myHandle %></em></strong>
  <span class="separator"></span>
  <a href="/followings">Followings</a>
  <span class="separator"></span>
  <a href="/followers">Followers</a>
</nav>