node_modules
npm-debug.log*

.git
.gitignore

.env
.env.*
!.env.example

coverage
.nyc_output
dist
.cache

.DS_Store
Thumbs.db
.vscode
.idea

Dockerfile
.dockerignore
docker-compose.yml
caddy
DEPLOYMENT.md
