<!doctype html>

<html lang="en">
<%- include('partials/html-head', {title: "Page not found"}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header',{title: "Not found"}); -%>
    <section>
      <p>👻 The page you are looking for does not exist on this server.</p>
    </section>
    <%- include('partials/footer'); -%>
  </div>
</body>

</html>