<!doctype html>

<html lang="en">
<%- include('partials/html-head', {title: "Feedbacks"}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header',{title: ""}); -%>
    <section>
      <div data-canny></div>
      <script>
        ! function(w, d, i, s) {
          function l() {
            if (!d.getElementById(i)) {
              var f = d.getElementsByTagName(s)[0],
                e = d.createElement(s);
              e.type = "text/javascript", e.async = !0, e.src = "https://sdk.canny.io/sdk.js", f.parentNode.insertBefore(e, f)
            }
          }
          if ("function" != typeof w.Canny) {
            var c = function() {
              c.q.push(arguments)
            };
            c.q = [], w.Canny = c, "complete" === d.readyState ? l() : w.attachEvent ? w.attachEvent("onload", l) : w.addEventListener("load", l, !1)
          }
        }(window, document, "canny-jssdk", "script");
      </script>
      <script>
        Canny('render', {
          boardToken: 'f13893c6-305a-7df1-3cfa-a7f48b071ea1',
          basePath: null,
          ssoToken: "<%= cannySsoToken %>",
          theme: 'auto',
        });
      </script>
    </section>
    <%- include('partials/footer'); -%>
  </div>
</body>

</html>