<!doctype html>
<html lang="en">
<%- include('partials/html-head', {title: "Follow"}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header', {title: "Follow"}); -%>

    <section>
      <%- include('partials/timeline-nav'); -%>

      <div class="field">
        <label for="follow-handle">Enter fediverse username to follow</label>
        <div class="flex">
          <input type="text" id="follow-handle" placeholder="e.g. @vasanthv@mastodon.social" v-model="followHandle" class="flex-1" />
          <button v-on:click="followRemote" :disabled="isLoading">follow</button>
        </div>
        <p>Follow anyone from the Fediverse (Mastodon or any other Fediverse service) using their username <em>@username@instance.domain</em> and see their posts in your timeline.</p>
      </div>

    </section>

    <%- include('partials/footer'); -%>
  </div>
</body>

</html>