[v-cloak] {
	display: none;
}
#toast {
	background-color: var(--text);
	color: var(--background);
	text-align: center;
	box-sizing: border-box;
	margin: auto;
	position: sticky;
	top: 1rem;
	padding: 0.5rem;
	z-index: 10;
}
#toast.error {
	background: var(--red);
}
#toast.success {
	background: var(--green);
}
#postbox textarea {
	background-color: var(--grey);
	border: none;
	min-height: 7rem;
	padding: 1rem;
}
#features h2 {
	text-align: center;
	text-decoration: underline;
}
#features ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#features h3 {
	margin-bottom: 0px;
}
#pricing {
	background-color: var(--grey);
	padding: 0.5rem 1rem 1rem;
	border-radius: 1rem;
}
#pricing h2 {
	text-align: center;
}
